*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  height: 100%;
}

.page {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}